/*BUTTONS*/

/*Radial button*/
.btn-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.14);
  transition: .5s;
  &:hover,
  &:focus {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.15);
    -webkit-transition: .5s;
    transition: .5s;
  }
}
.btn,
.btn-radial {
  overflow: hidden;
  border-radius: 2px;

  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover,
.btn:focus,
.btn-radial:hover,
.btn-radial:focus {
  cursor: pointer;
}
.btn {
  padding: 10px 35px;
}
.btn-radial {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.btn-default,
.btn-green {
  border: none;
  outline: none;
  margin: 0;
}
.btn-default {
  background-color: #4285f4;
  color: #fcfcfc;
  @include materialBoxShadow(1);
  transition: .2s;
  &:hover {
    transition: .2s;
    @include materialBoxShadow(3);
  }
  &:active {
    transition: .2s;
    @include materialBoxShadow(2);
  }
}
.btn-green {
  background-color: #34a853;
  color: #fcfcfc;
}




/*PROJECTS*/
.projects-wrap {
  padding: 30px;
  padding-top: 0;
}
@media(max-width: 1100px) {
  .projects-wrap {
    padding: 0;
  }
}
.project {
  float: left;
  position: relative;
  height: 450px;
  width: 50%;
  padding: 15px 20px;

  background-repeat: no-repeat;
  background-position: center center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-transition: box-shadow 100ms;
  -moz-transition: box-shadow 100ms;
  -o-transition: box-shadow 100ms;
  transition: box-shadow 100ms;

  &:hover {
    box-shadow: 0 1px 14px rgba(0,0,0,0.2), 0 1px 12px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 3;

    -webkit-transition: box-shadow 100ms;
    -moz-transition: box-shadow 100ms;
    -o-transition: box-shadow 100ms;
    transition: box-shadow 100ms;
  }
  &:active,
  &:focus {
    box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.4);
    cursor: pointer;
    z-index: 3;

    -webkit-transition: box-shadow 100ms;
    -moz-transition: box-shadow 100ms;
    -o-transition: box-shadow 100ms;
    transition: box-shadow 100ms;
  }
}
@media(max-width: 1100px) {
  .page-content-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 940px) {
  .project {
    height: 450px;
  }
}
@media screen and (max-width: 800px) {
  .project {
    clear: both;
    display: block;
    height: 380px;
    width: 100%;
  }
}
.project-title {
  position: relative;
  opacity: 0.95;

  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
}
.project-head-wrapper {
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}
.project-date {
  position: absolute;
  bottom: 15px;
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Mono', monospace;
}


/*FORM MODULE*/
.form-container {
  display: block;
  width: 400px;
  padding: 20px 20px 30px 20px;
  margin: 30px auto;

  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);

  color: #444;
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  .form-container {
    margin: 5px auto;
    width: 95%;
  }
}

.group {
  position: relative;
  margin-bottom: 35px;
  input {
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;

    border: none;
    border-bottom: 1px solid #999;

    background-color: transparent;
    font-size: 18px;
    &:focus {
      outline:none;
    }
  }
  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
  }

  textarea {
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    resize: vertical;

    border: none;
    border-bottom: 1px solid #999;

    background-color: transparent;
    font-size: 18px;
    font-family: Arial;
    &:focus {
      outline:none;
    }
  }
}
.group-submit {
  position: relative;
  margin-bottom: 20px;
  input {
    width: 100%;
  }
}

::-webkit-input-placeholder {
  color: #999;
  font-size: 18px;
  font-weight: normal;
}

.group-halfed {
  width: 49.4%;
  display: inline-block;
}

/* active state */
.group input:focus ~ label, .group input:valid ~ label{
  top: -15px;
  font-size: 15px;
  color: #4285f4;
}

.group textarea:focus ~ label, .group textarea:valid ~ label{
  top: -15px;
  font-size: 15px;
  color: #4285f4;
}

/* bottom bar */
.bar 	{
  position: relative;
  display: block;
  width: 100%;
  &:before,
  &:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background-color: #4285f4;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  &:before {
    left:50%;
  }
  &:after {
    right:50%;
  }
}

.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width:50%;
}
.group textarea:focus ~ .bar:before, .group textarea:focus ~ .bar:after {
  width:50%;
}

.form-error {
  color: #dd2c00;
  font-size: 15px;
  text-align: left;
  margin: 0 0 24px 5px;
}
.form-success {
  color: #19a093;
  font-size: 15px;
  text-align: left;
  margin: 0 0 24px 5px;
}



/*SCROLLTOP*/
.scrolltop {
  position: fixed;
  bottom: 20px;
  right: -50px;
  text-align: center;
  padding-top: 1px;
  z-index: 98;
  overflow: hidden;

  font-size: 2rem;

  background-color: #4285f4;

  -webkit-transition: all .4s cubic-bezier(0,.54,.64,1.48);
  -moz-transition: all .4s cubic-bezier(0,.54,.64,1.48);
  -o-transition: all .4s cubic-bezier(0,.54,.64,1.48);
  transition: all .4s cubic-bezier(0,.54,.64,1.48);
  &.active {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    padding-top: 1px;
    z-index: 98;
    overflow: hidden;

    font-size: 2rem;

    -webkit-transition: all .4s cubic-bezier(0,.54,.64,1.48);
    -moz-transition: all .4s cubic-bezier(0,.54,.64,1.48);
    -o-transition: all .4s cubic-bezier(0,.54,.64,1.48);
    transition: all .4s cubic-bezier(0,.54,.64,1.48);
  }
}
@media screen and (max-width: 500px) {
  .scrolltop.active {
    bottom: 12px;
    right: 10px;
  }
}


/*ABOUT ME*/
.aboutme-top {
  width: 94%;
  background-color: #fff;
  margin: 100px 3% 35px 3%;
  padding-bottom: 40px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  span {
    color: #8a8a8b;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 8px;
  }
  p {
    margin: 30px auto 0 auto;
    width: 80%;

    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-weight: 300;
    line-height: 1.8rem;

    opacity: 0.7;
  }
  .call-to-action {
    margin-top: 25px;
    margin-bottom: 25px;

    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .aboutme-top {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.profile-img {
  background-image: url(../img/profile-img.png);
  background-size: cover;
  background-color: #fff;
  height: 170px;
  width: 170px;
  position: relative;
  top: -70px;
  left: 50%;
  margin-left: -85px;
  display: inline-block;

  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
h1.aboutme-name {
  margin: -30px 0 0 0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 40px;
  color: rgba(0, 0, 0, .87);
  opacity: 0.7;
}
@media(max-width: 600px) {
  h1.aboutme-name {
    font-size: 1.5rem;
  }
}
/*about me skills*/
.aboutme-skills {
  width: 94%;
  background-color: #4285f4;
  color: #fff;
  min-height: 400px;
  margin: 30px 3% 0 3%;
  padding: 40px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  > p {
    text-align: left;
    margin-top: 0;
    color: rgba(0, 0, 0, .78);
  }
}
.skills-bar {
  width: 45%;
}
.skills-bar:nth-child(1) {
  float: left;
}
.skills-bar:nth-child(2) {
  float: right;
}
@media(max-width: 900px) {

  .skills-bar {
    display: inline-block;
    float: none;
    clear: both;
    width: 100%;
    margin-top: 30px;
    padding-top: 0;
  }
}
@media(max-width: 600px) {
  .aboutme-skills {
    width: 100%;
    padding: 30px 20px;
    margin-left: 0;
    margin-right: 0;
  }
}


h1.skills-bar-title {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 50px 0;
}
.skillname {
  margin-top: 20px;
  margin-bottom: 8px;
  display: block;
  font-size: .95rem;
}

.progress {
  height: 3px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.current-progress {
  position: relative;
  height: 3px;
  display: inline-block;
  float: left;
  top: 0;
  left: 0;
  background-color: #Fff;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    right: -10px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    &:hover {
      transform: scale(2);
    }
  }
}


//CONTACT SECTION

div.contact-section {
  width: 94%;
  margin: 0 3%;
  padding: 40px;

  overflow: auto;

  background-color: #fff;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  .fields {
    float: left;
    display: inline-block;
    width: 45%;
  }
  .fields-submit {
    float: right;
    display: inline-block;
    width: 45%;
  }
}
@media(max-width: 850px){
  div.contact-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media(max-width: 690px){
  div.contact-section {
    padding: 30px 20px;

    .fields {
      float: none;
      display: block;
      width: 100%;
    }
    .fields-submit {
      float: none;
      display: block;
      width: 100%;
    }
  }
}

h1.section-title {
  margin: 20px 0 15px 0;

  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.7;
  font-size: 2.1rem;
}